# Virtual environments
cv-env/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Images (input & output)
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.pdf
# OS files
.DS_Store

# Editor files
.vscode/


# persomal data
*.csv
*.pkl